<div class="d-flex flex-row-reverse">
  <h2 style="margin: 1rem">Celebrities List</h2>
</div>
<div class="d-flex flex-row-reverse" style="margin-right: 1rem">
  <div class="list-group">
    {{#each celebList}}
      <a href="#" class="list-group-item list-group-item-action">{{this.name}}</a>
    {{/each}}
  </div>
</div>