<h2> Add a new celebrity to the list</h2>

<form method="POST" action="/celeb/create">

    <div>
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" >
    </div>

    <div>
        <label for="occupation" class="form-label">Occupation:</label>
        <input type="text" name="occupation">
    </div>

    <div>
        <label for="catchPhrase" class="form-label">Catch Phrase:</label>
        <input type="text" name="catchPhrase" >
    </div>

    <button class="btn btn-outline-success">Add Celebrity</button>

</form>