<div class="index-title-wrapper">
  <div class="index-movies-title">
    <h1>Welcome to {{title}}</h1>
  </div>
  <ul>
    <li>
        <a href="/celeb"><button class="index-movies-button">Celebrities List</button></a>
    </li>
    <li>
        <a href="/celeb/create"><button class="index-movies-button">Add Celebrity</button></a>
    </li>
    <li>
        <a href="/movies"><button class="index-movies-button">List all movies</button></a>
    </li>
    <li>
        <a href="/movies/create"><button class="index-movies-button">Add new Movie</button></a>
    </li>
  </ul>
</div>