<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li>
        <a href="/celeb"> Go to Celeb List </a>
    </li>
    <li>
        <a href="/celeb/create"> Add a new Celeb </a>
    </li>
    <li>
        <a href="/movies"> List All my movies </a>
    </li>
    <li>
        <a href="/movies/create"> Add a new Movie </a>
    </li>
</ul>