<div class="d-flex flex-row-reverse">
  <div class="column">
    <div class="row">
      <h2> Add a new movie to the list</h2>
    </div>
    <div class="row">

      <form method="POST" action="/movies/create">

        <div class="mb-3">
          <label class="form-label" for="title">Title:</label>
          <input class="form-control" name="title" type="text"/>
        </div>

        <div class="mb-3">
          <label class="form-label for="genre"">Genre:</label>
          <input class="form-control" name="genre" type="text"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="plot">Plot:</label>
          <input class="form-control" name="plot" type="text"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="cast">Select a Celebrity:
            <select class="form-control" name="cast" multiple>
              {{#each celebList}}
                <option value={{this._id}}>{{this.name}}</option>
              {{/each}}
            </select>
          </label>
        </div>

        <button class="btn btn-primary">Add Movie</button>

      </form>
    </div>
  </div>
</div>